# Server configuration
server:
  port: 8085

# Application identity
spring:
  application:
    name: delivery-service

  # Spring Cloud Function definitions
  cloud:
    function:
      definition: deliverOrder;orderDelivered
    stream:
      bindings:
        # Inbound bindings
        deliverOrder-in-0:
          destination: deliver_order
        # Outbound bindings
        orderDelivered-out-0:
          destination: order_delivered
      kafka:
        binder:
          auto-create-topics: true
          brokers: localhost:9092

  # Datasource configuration
  datasource:
    url: jdbc:h2:~/delivery;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: aVeryComplexPassword
    driver-class-name: org.h2.Driver

  # JPA configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

# Logging
logging:
  level:
    root: info
    com: warn
    org.apache: warn
    org.hibernate: warn
    org.springframework: warn