server:
  port: 8085

spring:
  application:
    name: 'delivery-service'

  cloud:
    function:
      definition: deliverOrder;orderDelivered
    stream:
      bindings:
        deliverOrder-in-0: # handling a DeliverOrderCommand
          destination: deliver_order
        orderDelivered-out-0: # publishing an OrderDeliveredEvent event
          destination: order_delivered
      kafka:
        binder:
          auto-create-topics: true
          brokers: localhost:9092

  jackson:
    serialization:
      indent_output: true
    default-property-inclusion: non_null

# logging settings
logging:
  level:
    root: info
    com: warn
    org:
      apache: warn
      hibernate: warn
      springframework: warn

  pattern:
    #console: '%clr([%thread] [%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'
    console: '%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'