# Server configuration
server:
  port: 8082

# Application identity
spring:
  application:
    name: billing-service

  # Spring Cloud Function definitions
  cloud:
    function:
      definition: chargeOrder;orderChargedProducer;orderNotChargedProducer
    stream:
      bindings:
        # Inbound bindings
        chargeOrder-in-0:
          destination: charge_order
        # Outbound bindings
        orderChargedProducer-out-0:
          destination: order_charged
        orderNotChargedProducer-out-0:
          destination: order_not_charged
      kafka:
        binder:
          auto-create-topics: true
          brokers: localhost:9092

  # Datasource configuration
  datasource:
    url: jdbc:h2:~/billing;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: aVeryComplexPassword
    driver-class-name: org.h2.Driver

  # JPA configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

# Logging
logging:
  level:
    root: info
    com: warn
    org.apache: warn
    org.hibernate: warn
    org.springframework: warn
