# Server configuration
server:
  port: 8083

# Application identity
spring:
  application:
    name: customer-service

  # Spring Cloud Function definitions
  cloud:
    function:
      definition: orderCreated;orderCharged;orderNotCharged;orderProcessed;orderDelivered;customerCreatedProducer;customerUpdatedProducer;processOrderProducer
    stream:
      bindings:
        # Inbound bindings
        orderCreated-in-0:
          destination: order_created
        orderCharged-in-0:
          destination: order_charged
        orderNotCharged-in-0:
          destination: order_not_charged
        orderProcessed-in-0:
          destination: order_processed
        orderDelivered-in-0:
          destination: order_delivered
        # Outbound bindings
        customerCreatedProducer-out-0:
          destination: customer_created
        customerUpdatedProducer-out-0:
          destination: customer_updated
        processOrderProducer-out-0:
          destination: process_order
      kafka:
        binder:
          auto-create-topics: true
          brokers: localhost:9092

  # Datasource configuration
  datasource:
    url: jdbc:h2:~/customers;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: aVeryComplexPassword
    driver-class-name: org.h2.Driver

  # JPA configuration
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

# Logging
logging:
  level:
    root: info
    com: warn
    org.apache: warn
    org.hibernate: warn
    org.springframework: warn

  pattern:
    # To include thread name (e.g., [container-0-C-1] for Kafka consumers), add %clr([%t]){faint} after the timestamp
    console: '%clr([%date{HH:mm:ss.SSS}]){faint} %clr(%2p) %clr(%-40.40logger{36}){cyan} %m%n%wex'